@import "tailwindcss";
@plugin "daisyui";

.secondary-bg {
  background-color: #0758A8;
}

.footer-bg {
  background-color: #002C61;
}

.secondary-bg-text {
  color: #0758A8;
}

body {
  background-color: #F8FCFF;
  min-height: 100vh;
}